name: Security Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  sast:
    name: Static Application Security Testing (SAST)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Inicializa CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: javascript  

      - name: Analisar com CodeQL
        uses: github/codeql-action/analyze@v3

  dast:
    name: Dynamic Application Security Testing (DAST)
    runs-on: ubuntu-latest
    needs: sast 

    steps:
      - name: Rodar OWASP ZAP (DAST)
        uses: zaproxy/action-full-scan@v0.10.0
        with:
          target: 'https://juice-shop.herokuapp.com'
          fail_action: false
          cmd_options: '-a'

      - name: Uploadar relatório de DAST
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: report_html.html
